/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS file within this directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the top of the
* compiled file, but it's generally better to create a new file per style scope.
*
*= require bootstrap.min
*= require grails
*= require main
*= require mobile
*= require_self
*/

.jumbotron {
    margin-bottom: 10px;
    height: 20vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .lead {
    font-size: 1.7em;
  }
  
  hr {
    width: 8%;
  }
  
  .fa-chevron-down {
    margin-top: 100px;
  }
  
  @media screen and (min-width: 768px) {
    .lead {
      font-size: 2em;
    }
  }
